*{
    padding: 0;
    margin: 0;
}

.bar{
    display: flex;
    justify-content: space-between;  
    font-family: Poppins;
    background-color: #909e5d;
    height: 70px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.5);
    top: 0;
    position: fixed;
    width: 100%;
}

.logo{
    display: flex;
    font-size: 1.5em;
    padding: 15px;
}

.firstname{
    color: #A91D3A;
    font-weight: 700;
}

.lastname{
    color: #363062;
    font-weight: 700;
    padding-left: 4px;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li{
    list-style-type: none;
    padding: 15px;
    margin: 0.1rem;
}

.navigation a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 6px 0;
}

.navigation a:hover{
    color: #A91D3A;
    border-bottom: 1px solid;
    transition: 300ms;
}